Makefile
config.log
config.status
libexplain/config.h
.idea
**/*.o
**/*.lo
.bin
libexplain/acl_grammar.yacc.c
libexplain/acl_grammar.yacc.h
libexplain/public_config.h
bin/
codegen/gram.yacc.c
codegen/gram.yacc.h
etc/building.pdf
etc/new_system_call.pdf
etc/readme.pdf
etc/reference.pdf
libexplain/.libs/
libexplain/libexplain.la
libexplain/parse_bits.yacc.c
libexplain/parse_bits.yacc.h
libexplain/printf_format.yacc.c
libexplain/printf_format.yacc.h
man/cat1/
man/cat3/
po/de.mo
script/test_prelude.sh
